@model Adilet.ViewModel.UyeModel
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Üye Ekle</h2><hr />

        @using (Html.BeginForm("UyeEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.LabelFor(m => m.AdSoyad)
            @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AdSoyad, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.KullaniciAdi)
            @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.KullaniciAdi, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Sifre)
            @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Sifre, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.YetkiId)
            @Html.DropDownListFor(m => m.YetkiId, new List<SelectListItem>() { new SelectListItem() { Text = "Üye", Value = "" }, new SelectListItem() { Text = "Admin", Value = "1" }, }, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.YetkiId, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Foto)
            @Html.TextBoxFor(m => m.Foto, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Foto, null, new { @class = "text-danger" })
            <br />
            <input type="submit" value="Kaydet" class="btn btn-success" />
            <br />
            if (ViewBag.hata != null)
            {
                <div class="alert alert-danger">@ViewBag.hata</div>
            }
            if (ViewBag.sonuc != null)
            {
                <div class="alert alert-success">@ViewBag.sonuc</div>
            }
        }
        <br />
        @if (ViewBag.hata != null)
        {
            <div class="alert alert-danger">@ViewBag.hata</div>
        }
    </div>
    <div class="col-md-6">
        <img src="" id="uyeFoto" class="img-thumbnail" />
    </div>
</div>
@section scripts{
    <script>
        $("#Foto").change(function () {
            readURL(this);
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#uyeFoto").attr("src", e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}